*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #000000;
    padding: 0 100px;
    width: 850px;
}
body {
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    background-color:#abc420 ;
}
.cab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #4fb315;
    width: 100%;
    z-index: 100;}
    
.top{
    margin: 20px;
    margin-top: 20px;
}
.bot{
    background-color: red;
}
.contenido{
    margin: 10px;
}
.btn {
    display: inline-block;
    padding: 10px 40px;
    border: 2px solid #ffffff;
    color: black;
    font-weight: bold;
    text-decoration: none;
    background: #5107da;
}
.btn:hover {
    background: none;
    
}
.btn-animal {

    display: flex;
}
.btn-animal a {
    margin: 45px;
}
